# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

MindUWebApi/MindUWebApi/bin/Debug/

MindUWebApi/MindUWebApi/obj/Debug/

MindUWebApi/Dtos/bin/Debug/

MindUWebApi/DBService/bin/

MindUWebApi/ApplicationServices/bin/

MindUWebApi/ApplicationServices/obj/Debug/

MindUWebApi/ApplicationServices/obj/

MindUWebApi/DBService/obj/

MindUWebApi/Dtos/obj/

MindUWebApi/MindUWebApi/obj/

MindUWebApi/Dtos/bin/

MindUWebApi/MindUWebApi/bin/

MindUWebApi/MindUWebApi.Test/bin/

MindUWebApi/MindUWebApi.Test/obj/

MindUWebApi/ApiService/obj/

MindUWebApi/ApiService/bin/
